// buttons` colors
$btnMainColor: #000000;
$btnDefaultColor: #f8d24e;
$btnFirstActiveColor: #0a8817;
$btnSecondActiveColor: #fcfcfc;
$btnDisabledColor: #ababab;

// backgrounds` colors
$mainBgColor: #84a278;

//text and title colors
$titleColor: #fcfcfc;
$quantityTextColor: #131313;
$linkColor: #f8d24e;
