<section class="advan">
  <div class="container">
    <h2 class="visually-hidden">Advantages of the milk</h2>



    <ul class="advan__list">
      <li class="advan__item advan__item--first">
        <p class="advan__quality advan__quality--first">721</p>
        <p class="advan__quality-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advan__item">
        <p class="advan__quality advan__quality--second">16kg</p>
        <p class="advan__quality-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advan__item">
        <p class="advan__quality advan__quality--third">84</p>
        <p class="advan__quality-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
