<!-- list of buttons -->
<div class="btn-wrap">
  <button class="button-submit active-typethree" type="submit">Submit</button>

  <p>buttons type 1</p>
  <button class="button-typeone active-typeone" type="button">
    How it’s made?
  </button>

  <p>buttons type 2</p>
  <button
    class="button-typetwo active-typetwo size-products js-open-modal"
    type="button"
    data-modal="16"
  >
    Products
  </button>

  <button
    class="button-typetwo active-typetwo size-franchise js-open-modal"
    type="button"
    data-modal="17"
  >
    Franchise
  </button>

  <p>buttons type 3</p>
  <button class="button-typethree active-typethree size-readmore" type="button">
    Read more
  </button>

  <button class="button-typethree active-typethree size-location" type="button">
    Our Locations
  </button>

  <button
    class="button-typethree active-typethree size-buynow js-open-modal"
    type="button"
    data-modal="15"
  >
    Buy now
  </button>
</div>
