<section class="contacts container" id="contactsCafe">
  <h2 class="visually-hidden">contacts</h2>
  <div class="contacts__wrap">
    <ul class="contacts__cafe">
      <li class="contacts__title">CAFE</li>
      <li class="contacts__adress">
        <p class="contacts__caption">Chicago</p>
        <a
          class="contacts__map"
          href="https://goo.gl/maps/UDA783AfVwuDJZ8r5"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </a>
      </li>
      <li class="contacts__hours">
        <p class="contacts__caption">Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p class="contacts__caption">Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
      </li>
      <li class="contacts__tel-mail">
        <p>
          <a class="contacts__caption" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </p>
        <p>
          <a class="contacts__caption" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </p>
      </li>
    </ul>
    <ul class="contacts__cafe">
      <li class="contacts__title">FOODTRUCK</li>
      <li class="contacts__adress">
        <p class="contacts__caption">Los Angeles</p>
        <a
          class="contacts__map"
          href="https://goo.gl/maps/5ahjiAH6x38xGetaA"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </a>
      </li>
      <li class="contacts__hours">
        <p class="contacts__caption">Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p class="contacts__caption">Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
      </li>
      <li class="contacts__tel-mail">
        <p>
          <a class="contacts__caption" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </p>
        <p>
          <a class="contacts__caption" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </p>
      </li>
    </ul>
    <ul class="contacts__cafe">
      <li class="contacts__title">CAFE</li>
      <li class="contacts__adress">
        <p class="contacts__caption">New York</p>
        <a
          class="contacts__map"
          href="https://goo.gl/maps/6QwUXbx4X9Md8fPB9"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >726 Sterling Pl, Brooklyn, NY 11222, USA
        </a>
      </li>
      <li class="contacts__hours">
        <p class="contacts__caption">Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p class="contacts__caption">Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
      </li>
      <li class="contacts__tel-mail">
        <p>
          <a class="contacts__caption" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </p>
        <p>
          <a class="contacts__caption" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </p>
      </li>
    </ul>
  </div>
  <div class="contacts__wrap-buttons">
    <button
      class="button-typethree active-typethree size-location contacts__buttons js-open-modal"
      type="button"
      data-modal="20"
    >
      Our Locations<svg
        class="header__button-icon"
        width="12"
        height="12"
        aria-label="Переключатель мобильного меню"
      >
        <use
          class="icon-arrow"
          href="./images/header-sprite.svg#icon-arrow"
        ></use>
      </svg>
    </button>
    <button
      class="button-typetwo active-typetwo size-franchise contacts__buttons js-open-modal"
      type="button"
      data-modal="17"
    >
      Franchise
      <svg
        class="header__button-icon"
        width="12"
        height="12"
        aria-label="Переключатель мобильного меню"
      >
        <use
          class="icon-arrow"
          href="./images/header-sprite.svg#icon-arrow"
        ></use>
      </svg>
    </button>
  </div>
</section>
