
<header class="container header-container">
  <span class="header__bg-scroll"></span>
  <div class="header__wrapper">
    <div class="header__logo-container">

      <svg class="header__logo" width="60" height="65">
        <use href="./images/header-sprite.svg#icon-Logomob"></use>
      </svg>

    <button class="header__menu-button" type="button" aria-expanded="false" data-menu-button>
      <svg class="header__menu-icon" width="22" height="22" aria-label="Переключатель мобильного меню">
        <use class="icon-open" href="./images/header-sprite.svg#icon-open"></use>
      </svg>
    </button>
    <button class="header__button-order js-open-modal" type="button" data-modal="15" >
      Buy now
      <svg class="header__button-icon" width="12" height="12" aria-label="Переключатель мобильного меню">
        <use class="icon-arrow" href="./images/header-sprite.svg#icon-arrow"></use>
      </svg>
    </button>

    </div>
    <svg class="header__logodesk" width="60" height="65">
      <use href="./images/header-sprite.svg#icon-Logomob"></use>
    </svg>

      <!-- menu -->
      
      <nav class="header__menu"  data-menu>
          <ul class="header__list">
              <li class="header__item"><a class="header__link" href="#">Home</a></li>
              <li class="header__item"><a class="header__link" href="#how">How it’s made?</a></li>
              <li class="header__item"><a class="header__link" href="#ourProducts">Our products</a></li>
              <li class="header__item"><a class="header__link" href="#contactsCafe">Contact</a></li>
          </ul>
          <button class="header__button-order button-order js-open-modal"  data-modal="15" type="button" data-menu>
            Buy now
            <svg class="header__button-icon" width="12" height="12" aria-label="Переключатель мобильного меню">
              <use class="icon-arrow" href="./images/header-sprite.svg#icon-arrow"></use>
            </svg>
          </button>
          <button class="header__menu-button--tablet" type="button" aria-expanded="false" data-menu-close-button>
            <svg class="header__menu-icon" width="22" height="22" aria-label="Переключатель мобильного меню">
              <use class="icon-close--tablet" href="./images/header-sprite.svg#icon-close"></use>
            </svg>
           </button>
      </nav>
  </div>
</header>


