<section class="hero">
  <div class="container hero-container">
    <div class="hero-wrap" id="Home">
      <div class="hero-basic__wrap">
        <h1 class="hero-basic__title">
          ice cream made with
          <span class="hero-basic__title--size">passion</span>
        </h1>
        <button
          type="button"
          class="hero-basic__button button-typetwo active-typetwo js-open-modal"
          data-modal="16"
        >
          Products
        </button>
        <a class="hero-basic__link active-typeone" href="#how"
          >How it’s made?</a
        >
      </div>
      <ul class="hero-number list">
        <li class="hero-number__item">
          <p class="hero-number__quantity">16</p>
          <p class="hero-number__text">cafes</p>
        </li>
        <li>
          <p class="hero-number__quantity">23</p>
          <p class="hero-number__text">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero-products list">
      <img
        class="hero-products__img"
        srcset="
          images/hero/a_lot_of_ice_cream-1_152.png 152w,
          images/hero/a_lot_of_ice_cream-1_225.png 225w,
          images/hero/a_lot_of_ice_cream-1_304.png 304w,
          images/hero/a_lot_of_ice_cream-1_450.png 450w
        "
        sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
        src="images/hero/a_lot_of_ice_cream-1_152.png"
        alt="много мороженок"
        width="225"
      />
      <ul class="hero-products__list list">
        <li class="hero-products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </li>
        <li>
          <a href="#" class="hero-icon__link">
            <svg class="hero-icon" width="40px" height="16px">
              <use href="images/hero/icons.svg#icon-Arrow"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="img-wrap">
      <img
        class="hero-img"
        srcset="
          images/hero/mobile_177-min.png    177w,
          images/hero/mobile_354-min.png    354w,
          images/hero/mobile_531-min.png    531w,
          images/hero/tablet_268-min.png    268w,
          images/hero/tablet_536-min.png    536w,
          images/hero/tablet_804-min.png    804w,
          images/hero/desktop_456-min.png   456w,
          images/hero/desktop_912-min.png   912w,
          images/hero/desktop_1368-min.png 1368w
        "
        sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 480px) 177px, 100vw"
        src="images/hero/desktop_456-min.png"
        alt="фото морозиво"
        width="456"
      />
    </div>
  </div>
</section>
