<!-- list of modals -->
<div class="modal modal-made--padding" data-modal="1">
  <h2 class="modal-title">How it’s made?</h2>
  <video
    class="modal-video"
    src="https://cdn.coverr.co/videos/coverr-man-buying-ice-cream-for-his-girlfriend-5003/1080p.mp4"
    poster="https://www.southernliving.com/thmb/Y85P4eQfG6IsDKXLIWI5sa3ZtAU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/gettyimages-767975933-2000-3e6374aaa0a84dd8bf176b6d4160c309.jpg"
    width="640"
    controls
    loop
    preload="auto"
  ></video>
  <p class="modal-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
  <svg class="modal__cross js-modal-close" width="24px" height="24px">
    <use
      href="images/modal-windows/icon-close.svg#icon-clarity_close-line"
    ></use>
  </svg>
</div>

<div class="overlay js-overlay-modal"></div>
<script src="./js/made.js"></script>
