<!-- Section products -->
<section class="products">
  <div class="container">
    <p class="products__label" id="ourProducts">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--green">
        <img
          class="products__img"
          srcset="
            ./images/products/product1-sm-200.webp 200w,
            ./images/products/product1-sm-400.webp 400w,
            ./images/products/product1-sm-600.webp 600w,
            ./images/products/product1-lg-302.webp 302w,
            ./images/products/product1-lg-604.webp 604w,
            ./images/products/product1-lg-906.webp 906w
          "
          sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, (min-width: 480px) 200px, 100vw"
          src="./images/products/product1-sm-200.webp"
          alt="ice cream"
        />

        <h3 class="products__name">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <!-- Button for modal window 1 -->
        <button
          class="products__button js-open-modal"
          data-modal="16"
          type="button"
        >
          <svg class="products__icon">
            <use
              class="products__svg"
              href="./images/products/icons.svg#arrow"
            ></use>
            <use
              class="products__svg"
              href="./images/products/icons.svg#big-arrow"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--yellow">
        <img
          class="products__img"
          srcset="
            ./images/products/product2-sm-200.webp 200w,
            ./images/products/product2-sm-400.webp 400w,
            ./images/products/product2-sm-600.webp 600w,
            ./images/products/product2-lg-302.webp 302w,
            ./images/products/product2-lg-604.webp 604w,
            ./images/products/product2-lg-906.webp 906w
          "
          sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, (min-width: 480px) 200px, 100vw"
          src="./images/products/product2-sm-200.webp"
          alt="ice coffee"
        />

        <h3 class="products__name">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <!-- Button for modal window 2 -->
        <button
          class="products__button js-open-modal"
          data-modal="18"
          type="button"
        >
          <svg class="products__icon">
            <use
              class="products__svg"
              href="./images/products/icons.svg#arrow"
            ></use>
            <use
              class="products__svg"
              href="./images/products/icons.svg#big-arrow"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--brown">
        <img
          class="products__img"
          srcset="
            ./images/products/product3-sm-200.webp 200w,
            ./images/products/product3-sm-400.webp 400w,
            ./images/products/product3-sm-600.webp 600w,
            ./images/products/product3-lg-302.webp 302w,
            ./images/products/product3-lg-604.webp 604w,
            ./images/products/product3-lg-906.webp 906w
          "
          sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, (min-width: 480px) 200px, 100vw"
          src="./images/products/product3-sm-200.webp"
          alt="milkshakes"
        />

        <h3 class="products__name">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <!-- Button for modal window 3 -->
        <button
          class="products__button js-open-modal"
          data-modal="19"
          type="button"
        >
          <svg class="products__icon">
            <use
              class="products__svg"
              href="./images/products/icons.svg#arrow"
            ></use>
            <use
              class="products__svg"
              href="./images/products/icons.svg#big-arrow"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
